.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #412fd1;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  max-width: 100%;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 20px;
  cursor: pointer;
}

.navbar-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-item a:hover {
  color: #ffcc00;
}
